.navbar-brand {
  margin-left: 2em !important;
}
div#responsive-navbar-nav {
  margin-right: 2em;
}

a.nav-link {
  margin: 0 1em;
}
a.nav-link:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}
